body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #000000;
    background: #ffffff;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    padding: 70px 20vw;
}

.green {
    color: #ffffff;
    background: #08855e;
}

.custom-shape-divider-top-1665778060 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1665778060 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1665778060 .shape-fill {
    fill: #08855E;
}